<!DOCTYPE html>
<html>
<head>
	<title>Forgot Password</title>
	<link rel="stylesheet" type="text/css" href="css/login_out/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <a id="back" style="
        color: rgb(161, 155, 155);
        font-size: 1.5rem;
        position:absolute;
        top: 10px;
        left: 20px;
        cursor: pointer;
    " href="/login">
        <i class="fa fa-angle-left" aria-hidden="true"></i> BACK TO LOGIN
    </a>
	<img class="wave" src="img/wave.png">
	<div class="container">
		<div class="img">
			<img src="img/bg.svg">
		</div>
        <%
            let e = '';
            let p = '';
            if(email){
                e = email;
                p = phone;
            }
        %>
        <div class="login-content">
            <form action="" method="post">
                <h2 class="title">Reset your password</h2>
           		<div class="input-div one">
           		   <div class="i">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Enter your email</h5>
           		   		<input id="email" name="email" type="email" class="input" value="<%= e %>" required>
           		   </div>
           		</div>
                <div class="input-div one">
                    <div class="i">
                        <i style="margin-left: -10px;" class="fas fa-tty"></i>
                    </div>
                    <div class="div">
                        <h5>Enter your phone number</h5>
                        <input name="phone" type="text" class="input" value="<%= p %>" required>
                    </div>
                </div>
                <% 
                   let mess = '';

                   if(msg){
                        mess = msg;
                   }

                   if(mess != ""){
                       %>
                       <div class="errorMsg">
                           <%= msg %>
                       </div>
                       <%
                   }
               %>
                <input type="submit" class="btn" value="Send">
            </form>
            <%
                if(dialog == true){
                    %>
                    <div style="display:none;" id="checkForResetPassPage">
                        <%= dialog %>
                    </div>
                    <div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 style="text-align:center;" class="modal-title" id="exampleModalLabel">Checking your email to get OTP code</h5>
                                    <button id="clodeModel" type="button" class="close closeBtnSmall">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div style="width:100%;">
                                    <div>Enter your OTP code:</div>
                                    <input id="OTP" style="border-radius: 8px;padding:5px 10px" type="text" name="OTP">
                                    <div class="modal-body" >
                                        <div>Time remaining: <b id="timeRemaining"></b></div>
                                    </div>
                                    <div class="modal-body" >
                                        <div><b style="color:red;" id="msgErrOTP"></b></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="sendOTP" class="btn btn-primary">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%
                }
	        %>

        </div>
    </div>
    <div id="html">

    </div>
    <script>

        $(document).ready(()=>{
            if($('#accountModal')){
                $('#accountModal').modal('show');
            }
            if($('#clodeModel')){
                $('#clodeModel').on('click',()=>{
                    $('#accountModal').modal('hide');
                })
            }
        })

        const timeRemaining = document.getElementById('timeRemaining');
        const OTP = document.querySelector('#OTP');

        let t = 60;
        if(timeRemaining && t>=0){
            timeRemaining.innerText = `${t}`;
            const timeDown = setInterval(() =>{
                if(t == 0){
                    clearInterval(timeRemaining);
                }else{
                    t--;
                    timeRemaining.innerText = `${t}`;
                }
            },1000)
        }
        setTimeout(function(){
            
            if(OTP){
                OTP.disabled = true;
            }
        },60000)

        const sendOTPBtn = document.querySelector('#sendOTP');
        if(sendOTPBtn){
            sendOTPBtn.addEventListener('click',()=>{
                const otp = OTP.value;
                fetch("http://localhost:8080/forgot_password/OTP",{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({OTP:otp})
                })
                .then(res=>res.json())
                .then(data=>{
                    if(data.code == 0){
                        const htmls = `
                        <div class="modal fade" id="confirmPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div style='background: #dee2e6;border-radius: 10px;box-shadow: 0 0 3px black;'>
                                        <div class="modal-header">
                                            <h5 style="text-align:center;width: 100%;" class="modal-title" id="exampleModalLabel">NEW PASSWORD</h5>
                                            <button id="closeModel" type="button" class="close closeBtnSmall">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div style="width:100%;">
                                            <div style='display:flex;flex-direction: column;width: 100%;padding: 10px 20px'>
                                                <input id="newPass" style="border-radius: 8px; margin-top:10px;padding: 5px 10px;" type="password" placeholder="Enter your new password">
                                                <input id="reNewPass" style="border-radius: 8px; margin-top:10px;padding: 5px 10px;" type="password" placeholder="Re_Enter your new password">    
                                            </div
                                            <div style='width: 100%;text-align:center;'>
                                                <div style='width: 100%;text-align:center;'><b style="color:red;" id="msgErrPass"></b></div>
                                            </div>
                                            <div class="modal-footer">
                                                <button id="saveNewPass" class="btn btn-primary">Continue</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div
                        `;

                        document.querySelector('#html').innerHTML=document.querySelector('#html').innerHTML+htmls;

                        $('#accountModal').modal('hide');
                        $('#confirmPassword').modal('show');
                        funcClose();
                        changePassword();
                    }else{
                        const msgErrOTP = document.getElementById('msgErrOTP');
                        msgErrOTP.innerText = "Wrong OTP!!";
                    }
                })
            })
        }

        const funcClose = ()=>{
            const closeModel = document.getElementById('closeModel');
            if(closeModel){
                closeModel.addEventListener('click',()=>{
                    $('#accountModal').modal('hide');
                    $('#confirmPassword').modal('hide');
                });
            }
        }


        const changePassword = ()=>{
            const saveNewPass = document.getElementById('saveNewPass');
            const email = document.getElementById('email');
            const newPass = document.getElementById('newPass');
            const reNewPass = document.getElementById('newPass');
            saveNewPass.addEventListener('click',()=>{
                if(checkFormChangePass([newPass.value,reNewPass.value]) == ""){
                    const e = email.value;
                    const p = newPass.value;
                    fetch("http://localhost:8080/forgot_password/resetPassword",{
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({email:e,password:p})
                    })
                    .then((res)=>res.json())
                    .then(data=>{
                        if(data.code == 0){
                            alert("Success to change password");
                            window.location.href='http://localhost:8080/login';
                        }else{
                            alert("Fail to change password, please try again");
                        }
                    })
                }else{
                    const msgErrPass = document.getElementById('msgErrPass');
                    msgErrPass.innerText = checkFormChangePass([newPass.value,reNewPass.value]);
                }
            })
        }
        
        const checkFormChangePass = (inputs)=>{
            let msg = '';
            inputs.forEach((item)=>{
                if(item == ''){
                    msg = 'Please enter all fields';
                    return msg;
                }
            })
            if(inputs[0] != "" && inputs[1] != ''){
                if(!/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/gm.test(inputs[1])){
                    msg = 'Your password must be at least 8 characters, at least one letter and one number';
                    return msg;
                }
                if(inputs[0] != inputs[1]){
                    msg = 'Your password must match!';
                    return msg;
                }
            }
            return msg;
        }
    </script>
    <script type="text/javascript" src="js/login_out/main.js"></script>
</body>
</html>
